{% extends 'base.html.twig' %}

{% block title %}Salon index{% endblock %}

{% block body %}
  {% for salon in app.user.salons %}
      <a href="{{ path('salon_show', {id: salon.id}) }}"><div><img src="{{ salon.picture }}" alt="photo du salon '{{ salon.name }}'"> <br>
        {{ salon.name }}<br>
      Donne ce code à tes amis pour qu'ils rejoignent ton salon : {{ salon.slug }}<br>
      </div></a>
    {% else %}
        pas de salon actuellement
    {% endfor %}
    <a href="{{ path('salon_new') }}">Create new</a>
    <a href="{{ path('salon_accessuser') }}">Rejoindre</a>
    {% endblock %}
