{% extends 'base.html.twig' %}

{% block title %}Salon index{% endblock %}

{% block body %}
    {% include './components/_navbar.html.twig' %}
    <h1 class="text-white salon mb-3">Mes salons</h1>
    <br>

    <div class="d-inline-flex">
        <img class="beer mr-4" src="{{ asset('build/images/beer.png') }}" width="30%" alt="">
        <img class="mx-4" src="{{ asset('build/images/famille.png') }}" width="30%" alt="">
        <img class="mx-4" src="{{ asset('build/images/collegues.png') }}" width="30%" alt="">
    </div>
    <div class="d-inline-flex salon-name">
        <h3 class="salon-name">#TeamDuHaut</h3>
        <h3 class="salon-name-1">#Famille</h3>
        <h3 class="salon-name-2">#Wilders</h3>
    </div>
    <br>
    
    
    <div>
        <a href="{{ path('salon_new') }}">
            <img src="{{ asset('build/images/btn-rouge.png') }}" width="30%" alt="">
        </a>
        <a href="{{ path('salon_new') }}">
            <img src="{{ asset('build/images/btn-vert.png') }}" width="30%" alt="">
        </a>
    </div>
    
    
    
    
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salon in salons %}
            <tr>
                <td>{{ salon.id }}</td>
                <td>{{ salon.name }}</td>
                <td>{{ salon.slug }}</td>
                <td>
                    <a href="{{ path('salon_show', {'id': salon.id}) }}">show</a>
                    <a href="{{ path('salon_edit', {'id': salon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salon_new') }}">Create new</a>
{% endblock %}
